
       header {
        background: url(images/central_park.jpg) 0 -200px no-repeat;
        background-size: 1500px;
        height: 400px; /* Giving some height */
        padding-top: 100px; /* Adjusting the position of the text */
        padding-left: 100px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
       }

       li {
        list-style-type: none;
        display: inline;
        margin-right: 20px;
       }

       li a {
        text-decoration: none; /* Remove underline */
       }

       li a:link {
        color: #000; /* Before Click */
       }

       li a:visited {
        color: #818db3; /* After Click */
       }

       li a:hover {
        color: #333; /* Mouse Over */
       }

       li a:active {
        color: #753a30; /* Mouse Down */
       }

       nav {
        background-color: rgb(255, 245, 238);
        height: 50px;
        text-align: center;
        padding-top: 2px;
       }
         main {
             }

           main h1 {
                 color: rgb(129, 141, 179);
           font-family: Arial, Helvetica, sans-serif;
                  }
                    
            footer {
        height: 40px;
        background-color: rgb(129, 141, 179);
        text-align: center;
        padding-top: 20px;
        color: rgb(211, 218, 240);
        }
